:root {
    /* Colours */
    --color-text: #23262c;
    --color-primary: #fdcb22;
    --color-secondary: #ff4e35;
    --color-dark: #0b2447;
    --color-bg: #f5f2ee;
    --color-white: #fff;
    --color-bg-brown: #fcf8f3;
    --color-red: #C0392B;

    /* Fonts */
    /* --font-roboto: "Roboto"; */
}