@import "../../vars.css";

.sidebar-top {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.sidebar-top .logo {
    width: 3.6rem;
 
}

.sidebar-links {
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.1); ;
    border-radius: 50px;
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50px;
}

.sidebar-links ul {
    padding: 0;
    list-style: none;
    margin: 0;
    width: 100%;
    position: relative;
}

.sidebar-links li {
    position: relative;
   
}

.icon {
    text-align: center;
    width: 100%;
    /* ทำให้ไอคอนเต็มพื้นที่ */

}

.icon img {
    width: 26px;
    height: auto;
    transition: transform 0.3s ease;
    transform: scale(1);
    
}

.sidebar-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 50px;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar-links a.active{
    background-color: black;
    /* opacity: 0.9; */
}

.sidebar-links a.active .icon img {
    filter: brightness(0) saturate(100%) invert(85%) sepia(74%) saturate(748%) hue-rotate(-33deg) brightness(104%) contrast(106%);
   
}

.sidebar-links a .icon img {
    transition: transform 0.3s ease;
    transform: scale(1);
}

.sidebar-links a:hover .icon img {
    transition: transform 0.3s ease;
    transform: scale(1.2);
}

.sidebar-footer {
    position: relative;
    margin-top: auto;
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.1);
    ;
    border-radius: 50px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50px;
}


